body {
  position: relative;
  text-align: center;
  /* rainbow text? */
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('assets/pirates.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.5; /* Adjust transparency here */
  pointer-events: none;
  z-index: -1;
}
h1 {
  font-size: 8em;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 5s linear infinite alternate;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
h1:hover {
  animation-play-state: paused;
}
